
.sparks_container{

    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    
}

.sparks{

    position: relative;
    display: flex;
    z-index: -10;

}

.sparks span{

    position: relative;
    min-width: 3vw;
    height: 3vw;


    border-radius: 50%;
    /* background: linear-gradient(140deg, #e0f2f1, #00e5ff); */
    background: linear-gradient(140deg, #a2dae6, #458eab);

    /* background: linear-gradient(140deg, #F44174, #d4053f); */

    /* box-shadow: 0 0 15px 7px #f4417442, 0 0 50px #F44174, 0 0 100px #F44174; */
    box-shadow: 0 0 15px 7px #458eab42, 0 0 50px #458eab, 0 0 100px #458eab;

    animation: animate 15s linear infinite;
    animation-duration: calc(700s / var(--i));

}

/* #sparks h6{

    position: relative;
    color: #F44174;
    font-size: 1vw;
    animation: animate 15s linear infinite;
    animation-duration: calc(700s / var(--i));

} */

.sparks span:nth-child(even){

    background: linear-gradient(140deg, /*#8980F5*/ #5969fe, #3541af);

    box-shadow: 0 0 15px 10px #5465ff49, 0 0 50px #5465ff, 0 0 100px #5465ff;

}

@keyframes animate {

    0%{
        transform: translateY(100vh) scale(0)
    }

    100%{
        transform: translateY(-10vh) scale(1)
    }
}

@media screen and (max-width: 750px){

    .sparks span{

        min-width: 7vw;
        height: 7vw;
        
    }
    
}
