/* .projects_container{

    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10%;

} */

.projects_container{

    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 800px) {

    .projects_container{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;    
    } 
}

/*  WHEN THE OTHER PROJECTS ARE DONE

.projects_container{

    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;

} */