body {
  
  margin: 0;
  padding:0;
  width: 100vw;

  overflow-x: hidden;

  background: #161032;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{

  width: 15px;
}

::-webkit-scrollbar-track , ::-webkit-scrollbar-track-piece{

  background: #161032;

}

::-webkit-scrollbar-thumb {

  background: rgba(0, 0, 0, 0.477) ;
  border-radius: 1.5vh;
}

@media screen and (max-width: 450px) {
  
  ::-webkit-scrollbar{

    width: 5px;
  }
}